
    <form action="/search" method="get">
      city <input type="text" name="city" id="city" />
      keyword <input type="text" name="key" id="key" />
      <input type="submit" name="search" value="search" />
    </form>

    <div id="response">
    </div>
